
.circle1 {
      width: 80px;
      height: 80px;
      background: black;
      border-radius: 10%;
}

.circle2 {
      width: 80px;
      height: 80px;
      background: black;
      border-radius: 20%;
}

.circle3 {
      width: 80px;
      height: 80px;
      background: black;
      border-radius: 30%;
}

.circle4 {
      width: 80px;
      height: 80px;
      background: black;
      border-radius: 40%;
}

.circle5 {
      width: 80px;
      height: 80px;
      background: black;
      border-radius: 50%;
}
