.oval1 {
  width: 90px;
  height: 20px;
  background: black;
  border-radius: 100px / 50px;
}

.oval2 {
  width: 135px;
  height: 20px;
  background: black;
  border-radius: 100px / 50px;
}

.oval3 {
  width: 115px;
  height: 20px;
  background: black;
  border-radius: 100px / 50px;
}

.oval4 {
  width: 180px;
  height: 20px;
  background: black;
  border-radius: 100px / 50px;
}

.oval5 {
  width: 270px;
  height: 20px;
  background: black;
  border-radius: 100px / 50px;
}

.oval6 {
  width: 280px;
  height: 20px;
  background: black;
  border-radius: 100px / 50px;
}

.oval7 {
  width: 285px;
  height: 20px;
  background: black;
  border-radius: 100px / 50px;
}

.oval8 {
  width: 420px;
  height: 20px;
  background: black;
  border-radius: 100px / 50px;
}

.oval9 {
  width: 690px;
  height: 20px;
  background: black;
  border-radius: 100px / 50px;
}
