p.prayerbeads1
{
border-top-style: dotted;
border-right-style: double;
border-bottom-style: dotted;
border-left-style: double;

border-top-color: black;
border-right-color: black;
border-bottom-color: black;
border-left-color: black;

border-top-width: 25px;
border-right-width: 100px;
border-bottom-width: 25px;
border-left-width: 100px;

margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;

padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}

p.prayerbeads2
{
border-top-style: dashed;
border-right-style: groove;
border-bottom-style: dashed;
border-left-style: groove;

border-top-color: black;
border-right-color: black;
border-bottom-color: black;
border-left-color: black;

border-top-width: 25px;
border-right-width: 100px;
border-bottom-width: 25px;
border-left-width: 100px;

margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;

padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}

p.prayerbeads3
{
border-top-style: solid;
border-right-style: dotted;
border-bottom-style: solid;
border-left-style: dotted;

border-top-color: black;
border-right-color: black;
border-bottom-color: black;
border-left-color: black;

border-top-width: 25px;
border-right-width: 25px;
border-bottom-width: 25px;
border-left-width: 25px;

margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;

padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
